
<input type="text" [(ngModel)]="search_text">
<button (click)="search_data()">Search Bar</button>
  <table *ngIf="apiData!=null">
    <thead>


      <tr>
        <th colspan="2">Basic Info</th>
        <!-- <ng-container *ngIf="apiData"> -->
        <th *ngFor="let item of headers; let i = index" [attr.colspan]="lengthCount(i)">
         <ng-container class="border"> {{ item  }}</ng-container>
        </th>
        <!-- </ng-container> -->
      </tr>
    </thead>

<tbody>
  <tr>
    <td>Name</td>
    <td>Email</td>

  
      <!-- <ng-container *ngIf="apiData.data[0].userDetials"> -->
     <!-- <ng-container *ngIf="apiData.data[0].userDetials.Address"> -->
     <td *ngFor="let i of OBjectKeysToArray(subheaders[0])">
         <p class="border">{{i}}   </p> 
      </td>

    <!-- </ng-container> -->


    <!-- <ng-container *ngIf="apiData.data[0].userDetials.Education"> -->
      <td *ngFor="let i of OBjectKeysToArray(subheaders[1])">
        <p class="border">{{i}} </p> 
       </td>
 
     <!-- </ng-container> -->


     
    <!-- <ng-container *ngIf="apiData.data[0].userDetials.Experience"> -->
      <td *ngFor="let i of OBjectKeysToArray(subheaders[2])">
        <p class="border">{{i}} </p> 
       </td>
 
     <!-- </ng-container> -->
    <!-- </ng-container> -->

   


    
  </tr>

 <tr *ngFor="let row of apiData.data" >
  
    <td >{{row.name}}</td>
    <td >{{row.email}}</td>

    <ng-container *ngIf="row.userDetials">
    <!-- <ng-container *ngIf="row.userDetials.Address"> -->

      <!-- {{row.userDetials.Address | json}} -->

      <ng-container *ngFor="let address of row.userDetials.Address">
      <td *ngFor="let i of ObjecKeysValues(address)">
        {{ i  }}
       </td>
       </ng-container>
     <!-- </ng-container> -->


    
     <ng-container *ngFor="let education of row.userDetials.Education">
      
      <td *ngFor="let i of ObjecKeysValues(education)" >
        {{CheckYearArray(i)}} 
       </td>

      </ng-container >

   
     
       <ng-container *ngFor="let exp of row.userDetials.Experience">
        <td *ngFor="let i of ObjecKeysValues(exp)">
          {{CheckYearArray(i)}} 
         </td>
         </ng-container>

     </ng-container>
     <td>
     <button (click)="delete(row)">Delete</button>
    <button (click)="update(row)">update</button>
  </td>
</tr>



</tbody>

  </table>


  <select [(ngModel)]="selectedOption" (change)="updateBtn()">
    <option *ngFor="let option of options" [value]="option">{{ option }}</option>
  </select>
  
  <p>You selected: {{ selectedOption }}</p>
  
  <button (click)="previousPage()" [disabled]="selectedOption=== 1">Previous</button>
  <ng-container *ngIf="newArray!=null">
  <span *ngFor="let page of newArray">
    
    <button (click)="goToPage(page)" [class.active]="currentPage === page">{{ page }}</button>
  </span>
  </ng-container>
 
  <button (click)="nextPage()" [disabled]="selectedOption === newArray">Next</button>
  


