<div class="login-register">

    <h2>Register Page</h2>
    <div class="container">
    
    
      <form [formGroup]="form" class="login-form">
    
        <div class="form-group">
    
        
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" placeholder="Enter your Name">
            <small
            *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched"
            class="invalid">Username not available.</small>
          </div>
    
        <div class="form-group">
    
        
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" placeholder="Enter your email">
          <small
          *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched"
          class="invalid">Email not available.</small>
    
          <small
          *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched && !form.get('email')?.hasError('required')"
          class="invalid">Email not valid.</small>
            
        </div>
    
       
        
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" placeholder="Enter your password">
          <small
          *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched"
          class="invalid">Password required.</small>
    
          <small
          *ngIf="!form.get('password')?.hasError('required') && form.get('password')?.touched && form.get('password')?.hasError('pattern')"
          class="invalid">Password Not Valid.</small>
    
        </div>
    
    
        <div class="form-group">
            <label for="password"> Confirm Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter your password">
            <small
            *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched"
            class="invalid">Confirm Password required.</small>
      
            <small
            *ngIf="!form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('pattern')"
            class="invalid">Confirm Password Not Valid.</small>
          </div>
        <!-- [disabled]="form.status=='invalid'" -->
       
        <!-- <button (click)="Submit()" [disabled]="form.status=='INVALID'">Submit</button> -->
    
        <button (click)="Submit()">Submit</button>
      </form>
    </div>
    </div>